{%  extends 'base-admin.html.twig' %}

   {% block body %}
       <div class="container">

           <h3>Modifier le Slider</h3>
           <!-- image deja presente dans le slider -->
           <btn class="ferm btn btn-default col-md-offset-4">fermer la gallerie</btn>
               <div class="btn-imgslider btn btn-default col-md-offset-4">
                   <p>Afficher les images enregistrées.</p>
                   <btn></btn>
               </div>
               <div class="row imageslider">
                   <div>
                       {% for slider in product %}

                               <img src="../../{{ slider.image }}" alt="{{ slider.libelle }}">

                       {% endfor %}
                   </div>
               </div>
         <!-- Ajout d'une image -->
         <h4>Ajouter une image dans le slider</h4>
         <div class="form-inline">
           <!-- FORMULAIRE -->
           {{ form_start(form) }}
           {{ form_widget(form) }}
           <button type="submit" class="btn btn-warning" value="publier">Envoyer</button>
           {{ form_end(form) }}
         </div>
       </div>

   {% endblock %}
