{%  extends 'base-admin.html.twig' %}

   {% block body %}
       <div class="container">
           <div class="slider">
               <h3>Vue du Slider</h3>
               <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                   <div class="carousel-inner" role="listbox">

                       {% for slider in image %}
                           <div class="{{ (loop.first) ? 'active' : '' }} item">
                               <img src="../../{{ slider.image }}" alt="../../{{ slider.libelle }}">
                           </div>
                       {% endfor %}

                   </div>

                   <!-- Control -->
                   <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                       <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                       <span class="sr-only">Précédent</span>
                   </a>
                   <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                       <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                       <span class="sr-only">Suivant</span>
                   </a>
               </div>
               <br>
               <hr>
               <h3>Modifier le Slider</h3>
               <!-- image deja presente dans le slider -->
               <div class="row imageslider">
                   <p>Image dans la gallerie:</p>
                   {% for slider in product %}

                       <div style="display:inline-block;" class="image_block_modif row">
                           <img style="display: block;" src="../../{{ slider.image }}" alt="{{ slider.libelle }}">
                           <form method="post" action="supprimer/{{ slider.id }}" class="col-sm-6">
                               <button type="submit" class="fa fa-trash btn-danger btn" name="delete"></button>
                           </form>
                           <form method="post" action="activ/{{ slider.id }}" class="col-sm-6">

                               <button type="submit" name="active" class="btn btn-info"> {% if slider.active == 1 %} désactiver {% elseif slider.active == 0 %} activer {% endif %}</button>

                           </form>
                       </div>

                   {% endfor %}

               </div>

               <!-- Ajout d'une image -->
               <btn class="ferm fa fa-times btn btn-default  col-xs-offset-3"></btn>
               <div class="btn-formslider btn btn-default">
                   <p>Ajouter une image</p>
               </div>
               <div class="form-inline form-slider">
                   <!-- FORMULAIRE -->
                   {{ form_start(form) }}
                   {{ form_widget(form) }}
                   <button type="submit" class="btn btn-warning" value="publier">Envoyer</button>
                   {{ form_end(form) }}
               </div>

           </div>
       </div>


   {% endblock %}
