{%  extends 'base-admin.html.twig' %}

   {% block body %}
       <p><a href="/admin/article/ajouter">Ajouter un article</a></p>
       <p><a href="/admin/slider/ajouter">Ajouter une image au slider</a></p>
       <div class="container">

           <h3>Modifier le Slider</h3>
           <!-- image deja presente dans le slider -->
               <div class="row ">
                   <div  class="col-sm-4 col-md-offset-4">
                       {% for slider in product %}

                               <img src="../../{{ slider.image }}" alt="{{ slider.libelle }}">

                       {% endfor %}
                   </div>
               </div>
         <h4>Ajouter une image dans le slider</h4>
         <div class="form-inline">
           <!-- FORMULAIRE -->
           {{ form_start(form) }}
           {{ form_widget(form) }}
           <button type="submit" class="btn btn-warning" value="publier">Envoyer</button>
           {{ form_end(form) }}
         </div>
       </div>

   {% endblock %}
