{%  extends 'base-admin.html.twig' %}

   {% block body %}
      <div class="container">

         <h3 class="text-center">Modifier l'image</h3>
         <h4 class="text-center">" {{ product.libelle }} "</h4>

         <div class="row">
            <img class="image_modif" src="../../{{ product.image }}" alt="{{ product.libelle }}">
         </div>
         <!-- FORMULAIRE -->
          {{ form_start(form) }}
          {{ form_widget(form) }}
         <button type="submit" name="modifier" class="btn btn-info btn_modif" value="modifier">{{ active }}</button>

          {{ form_end(form) }}
      </div>

        {#{{  dump(form) }}#}
   {% endblock %}
