{%  extends 'base-admin.html.twig' %}

   {% block body %}
      <div class="container">

         <h3>Modifier l'image</h3>

         <div class="row">
            <img src="../../{{ product.image }}" alt="{{ product.libelle }}">
         </div>
         <!-- FORMULAIRE -->
          {{ form_start(form) }}
          {{ form_widget(form) }}
         <button type="submit" name="modifier" class="btn btn-info" value="modifier">{{ active }}</button>

          {{ form_end(form) }}
      </div>

        {#{{  dump(form) }}#}
   {% endblock %}
