{%  extends 'base-admin.html.twig' %}

   {% block body %}
       <div class="container">

           <div class="form-inline">
               <!-- FORMULAIRE -->
               {{ form_start(form) }}
               {{ form_widget(form) }}
               <button type="submit" class="btn btn-warning" value="publier">Envoyer</button>
               {{ form_end(form) }}
           </div>
           {% for article in articles %}
               <div  class="">
                   <h3>{{ article.titre_article }}</h3>
                   <img class="img-responsive" src="../../{{ article.image }}" alt="{{ article.titre_article }}">
                   <p>{{ article.description }}</p>
               </div>
           {% endfor %}

       </div>
   {% endblock %}
