{%  extends 'base-admin.html.twig' %}

   {% block body %}
       <div class="container">

           <h3>Modifier l'article</h3>

           <div class="row">
               <p> {{ article.titreArticle }} </p>
               <p> {{ article.description }} </p>
               <img class="img-responsive articleImg" src="{{ asset(article.image) }}" alt="{{ article.titreArticle }}">
           </div>
           <!-- FORMULAIRE -->
           {{ form_start(form) }}
           {{ form_widget(form) }}
           <button class="btn">Modifier</button>
           {{ form_end(form) }}
       </div>

   {% endblock %}
